<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Book Condition</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bookResponse of booksResponse">
        <td>{{ bookResponse.name }}</td>
        <td>{{ bookResponse.description }}</td>
        <td>{{ bookResponse.bookCondition }}</td>
        <!--        <td><a href="mailto:{{ bookResponse.name }}">{{ bookResponse.name }}</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
